
.container{
  position: relative;
}
.filter_container{
  position: absolute;
  top: -56px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  right: 0;
}

.meetings_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}