@font-face {
  font-weight: 300;
  font-family: "Ubuntu";
  font-style: normal;
  src: url("./fonts/Ubuntu-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: "Ubuntu";
  font-style: italic;
  src: url("./fonts/Ubuntu-LightItalic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: "Ubuntu";
  font-style: normal;
  src: url("./fonts/Ubuntu-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: "Ubuntu";
  font-style: italic;
  src: url("./fonts/Ubuntu-Italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: "Ubuntu";
  font-style: normal;
  src: url("./fonts/Ubuntu-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: "Ubuntu";
  font-style: italic;
  src: url("./fonts/Ubuntu-MediumItalic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: "Ubuntu";
  font-style: normal;
  src: url("./fonts/Ubuntu-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: "Ubuntu";
  font-style: italic;
  src: url("./fonts/Ubuntu-BoldItalic.ttf") format("truetype");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
form {
  margin-top: 0;
  margin-bottom: 0;
}

a,
button,
div,
input,
label,
select,
span,
strong,
textarea {
  font-family: "Ubuntu", serif;
  outline: 0;
  text-decoration: none;
}

input,
textarea,
*[contenteditable] {
  cursor: text;
}

head {
  position: relative;
  z-index: 0;
}

body {
  margin: 0;

  font-family: "Ubuntu", serif;

  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  position: relative;

  display: flex;
  z-index: 1;
  flex-direction: column;
  max-width: 100vw;
}

:root {
  font-family: "Ubuntu", serif;

  --auth-dark: #0e1b21;
  --some-blue: #E1F2FB;
  --auth-blue: #d1e8fa;
  --auth-input-border: #d7dddf;
  --auth-input: #f1f3f4;
  --navlink-background-hover: #d6dee2;
  --navlink-background-active: #CBD6DC;
  --auth-input-text: #8e9ea4;
  --tertiary-dark-blue: #71868E;
  --auth-input-border-focus: #bec6c9;
  --request-border: #DCE1E5;
  --request: #E5E9EB;
  --error: #d40b0b;
  --black: #000;
  --white: #fff;
  --primaty_dark_blue: #778795;
  --fourth_dark_blue: #9BACB5;
  --some-color: #7B7B7B;;
  --dark-green: #29424c;
  --dropdown-default: #6A8C9E;
  --fifth_dark_blue: #565656;
  --main-background: #f3f5f6;
  --navlink-background: #e5e9eb;
  --edit-button-background: #F1F3F4;
  --secondary-dark-blue: #4d707d;
  --telegram-gradient: linear-gradient(
  99.36deg,
  #1eb1e1 8.62%,
  #1ca8d5 62.54%,
  #1b9fcb 113.2%
);
  --telegram-text: #0090BF;
  --primary-blue: #CFE1EF;
  --dropdown-hover: #E4EEF6;
  --primary-blue-hover: #BFD7EA;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
