
.container {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--tertiary-dark-blue);
  margin-bottom: 12px;
}

.container:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--auth-input-border);
  left: 0;
  top: 44px;
}