.container {
  display: flex;
  flex-direction: column;
}

.link {
  background: var(--navlink-background);
  border-radius: 12px;
  padding: 14px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 140%;
  color: var(--black);
  margin-bottom: 4px;
  transition: 0.2s;
  &:last-child {
    margin-bottom: 0;
    color: var(--primaty_dark_blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.link:hover {
  background: var(--navlink-background-hover);
  color: var(--black);
}

.active_link {
  background: var(--navlink-background-active);
  border-radius: 12px;
  padding: 14px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 140%;
  color: var(--black);
  margin-bottom: 4px;
  transition: 0.2s;
  &:last-child {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &:hover {
    color: var(--black);
  }
}
