.container {
  position: relative;

  display: flex;
  width: 250px;
  margin-bottom: 4px;
  padding: 12px 16px;

  background: var(--edit-button-background);
  border: none;
  border-radius: 6px;

  &:last-child {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;

    color: var(--auth-input-text);
    font-weight: normal;
    font-size: 15px;
    font-style: normal;
    line-height: 17px;
  }

  .arrowSVG {
    position: absolute;
    right: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3px;

    transition: 0.2s;

    & > svg > path {
      &:global(.line) {
        transition: 0.2s;

        stroke: transparent;
      }
    }
  }
}

.container:hover {
  .arrowSVG {
    right: 12px;

    & > svg > path {
      &:global(.line) {
        stroke: #8e9ea4;
      }
    }
  }
}
